@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);

* {
	box-sizing: border-box;
}

html {
 	min-height: 100%;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.inside-container {
	margin: 0;
 	padding: 20px;
}

.descricao {
	word-break: break-all;
}

table {
	table-layout:fixed;
	width: 100%;
}


.excluir {
	border-radius: 50%;
}
